body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #926B51;
    margin: 0;
  }

  .otp-container {
    text-align: center;
    background-color: #E5D5CB;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  h2 {
    margin-bottom: 20px;
    color: #926B51;
  }

  .otp-input {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .otp-input input {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
  }

  .otp-input input:focus {
    border-color: #926B51;
    box-shadow: 0 0 5px #E5D5CB;
  }
/* Remove the number spinner for Chrome, Safari, Edge, and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Remove the number spinner for Firefox */
input[type="number"] {
-moz-appearance: textfield; /* Older Firefox versions */
appearance: textfield; /* Standard property for future compatibility */
}
#msg{
    color: #926B51;
}
